# Exercises - Data Science Sprint 02 - S02 T05
   **Data Exploration**
         Familiaritza't amb les tècniques d'exploració de les dades mitjantçant la estructura de dades, Dataframe amb la llibreria Pandas.

## Level 1

### Level 1 - Exercise 1
* Download the following data set: "Airlines Delay: Airline on-time statistics and delay causes" and create a Pandas Dataframe. Explore the data and keep only the relevant columns.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read the file located at same folder as jupyter file
flights = pd.read_csv("DelayedFlights.csv", sep=',', encoding='utf8', index_col=0)

# Display de first rows 
flights.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [2]:
# Get the rows and columns of the dataframe
flights.shape

(1936758, 29)

In [3]:
# General info of the dataframe
flights.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1936758 entries, 0 to 7009727
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             float64
 20  TaxiOut            float64
 21  Cancelled          int64
 22  CancellationCode   object
 23  Diverted           int64
 24  CarrierDelay       float64
 25  WeatherDelay       float64
 26  NASDelay           float64
 27  SecurityDelay      float64
 28  LateAircraftDelay  float64
dtypes: float64(14), int64(10), object(5)
memory usage: 443.3+ MB

In [4]:
# Getting the total of nulls of each column, so we can drop useless columns.
flights.isnull().sum()

Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                7110
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                   5
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                 7110
TaxiOut                 455
Cancelled                 0
CancellationCode          0
Diverted                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

In [5]:
flights.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [6]:
# Let's drop the non interesting columns
flights.drop(['DepTime', 'CRSDepTime', 'CRSArrTime',
              'FlightNum', 'TailNum','CRSElapsedTime', 'ArrTime', 
              'TaxiIn', 'TaxiOut', 'CarrierDelay',
              'WeatherDelay', 'NASDelay', 'SecurityDelay', 
              'LateAircraftDelay'], axis = 1, inplace = True)

In [7]:
# Remaining list of columns on dataframe
flights.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'UniqueCarrier',
       'ActualElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin',
       'Dest', 'Distance', 'Cancelled', 'CancellationCode', 'Diverted'],
      dtype='object')

In [8]:
# Show fisrts rows
flights.head()

,Year,Month,DayofMonth,DayOfWeek,UniqueCarrier,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,CancellationCode,Diverted
0,2008,1,3,4,WN,128.0,116.0,-14.0,8.0,IAD,TPA,810,0,N,0
1,2008,1,3,4,WN,128.0,113.0,2.0,19.0,IAD,TPA,810,0,N,0
2,2008,1,3,4,WN,96.0,76.0,14.0,8.0,IND,BWI,515,0,N,0
4,2008,1,3,4,WN,90.0,77.0,34.0,34.0,IND,BWI,515,0,N,0
5,2008,1,3,4,WN,101.0,87.0,11.0,25.0,IND,JAX,688,0,N,0

### Level 1 - Exercise 2
* Create a complete rapport of the data set:
    * From the most interesting columns get a statistical summary
    * Find out how missing data on every column
    * Create a new column: average flight speed, arrived on time, etc.
    * Table of airlines with the most accumulated delays
    * Etc.

In [9]:
# Statistical summary for the most interesting columns
flights[['ActualElapsedTime','AirTime', 'Distance', 'DepDelay']].describe()

       ActualElapsedTime       AirTime      Distance      DepDelay
count       1.928371e+06  1.928371e+06  1.936758e+06  1.936758e+06
mean        1.333059e+02  1.082771e+02  7.656862e+02  4.318518e+01
std         7.206007e+01  6.864261e+01  5.744797e+02  5.340250e+01
min         1.400000e+01  0.000000e+00  1.100000e+01  6.000000e+00
25%         8.000000e+01  5.800000e+01  3.380000e+02  1.200000e+01
50%         1.160000e+02  9.000000e+01  6.060000e+02  2.400000e+01
75%         1.650000e+02  1.370000e+02  9.980000e+02  5.300000e+01
max         1.114000e+03  1.091000e+03  4.962000e+03  2.467000e+03

In [10]:
# From the column of the dataframe, we can list all columns with the detail number of null values
flights.isnull().sum()

Year                    0
Month                   0
DayofMonth              0
DayOfWeek               0
UniqueCarrier           0
ActualElapsedTime    8387
AirTime              8387
ArrDelay             8387
DepDelay                0
Origin                  0
Dest                    0
Distance                0
Cancelled               0
CancellationCode        0
Diverted                0
dtype: int64

In [11]:
# Create a new column average flight speed miles/hour 
flights['AverageSpeed'] = flights['Distance'] / (flights['AirTime'] / 60)
flights.head()

,Year,Month,DayofMonth,DayOfWeek,UniqueCarrier,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,CancellationCode,Diverted,AverageSpeed
0,2008,1,3,4,WN,128.0,116.0,-14.0,8.0,IAD,TPA,810,0,N,0,418.965517
1,2008,1,3,4,WN,128.0,113.0,2.0,19.0,IAD,TPA,810,0,N,0,430.088496
2,2008,1,3,4,WN,96.0,76.0,14.0,8.0,IND,BWI,515,0,N,0,406.578947
4,2008,1,3,4,WN,90.0,77.0,34.0,34.0,IND,BWI,515,0,N,0,401.298701
5,2008,1,3,4,WN,101.0,87.0,11.0,25.0,IND,JAX,688,0,N,0,474.482759

In [12]:
# Create a new c2olumn average true/false if they have arrived late or not (positive value of ArrDelay)
flights["ArrLate"] = flights["ArrDelay"].apply(lambda x: True if x > 0 else False)
flights.head()

,Year,Month,DayofMonth,DayOfWeek,UniqueCarrier,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,CancellationCode,Diverted,AverageSpeed,ArrLate
0,2008,1,3,4,WN,128.0,116.0,-14.0,8.0,IAD,TPA,810,0,N,0,418.965517,False
1,2008,1,3,4,WN,128.0,113.0,2.0,19.0,IAD,TPA,810,0,N,0,430.088496,True
2,2008,1,3,4,WN,96.0,76.0,14.0,8.0,IND,BWI,515,0,N,0,406.578947,True
4,2008,1,3,4,WN,90.0,77.0,34.0,34.0,IND,BWI,515,0,N,0,401.298701,True
5,2008,1,3,4,WN,101.0,87.0,11.0,25.0,IND,JAX,688,0,N,0,474.482759,True

In [35]:
#Table of airlines with the most accumulated delays
#  print df.groupby('Team').groups
#weekday_counts = berri_bikes.groupby('weekday').aggregate(sum)
#weekday_counts
carrier = flights.groupby('UniqueCarrier').aggregate(sum)
carrier
#print (flights.groupby("UniqueCarrier").count())

,Year,Month,DayofMonth,DayOfWeek,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Distance,Cancelled,Diverted,AverageSpeed,ArrLate
UniqueCarrier,,,,,,,,,,,,,
9E,104185080,298844,799455,206043,5264081.0,3763010.0,2420468.0,2457810.0,24097833,58,258,1.904405e+07,46896
AA,385264920,1140719,3037390,761654,32679119.0,27564072.0,8889066.0,8918260.0,207596776,46,909,8.315710e+07,172197
AQ,1506000,1059,9420,3264,94758.0,85425.0,15814.0,20010.0,667403,0,6,2.751026e+05,654
AS,78900344,251762,620656,156574,5901085.0,5056795.0,1406735.0,1504939.0,37120232,11,272,1.632304e+07,34179
B6,111072520,351710,884032,222842,9978323.0,8248628.0,3025749.0,3044016.0,61285558,10,380,2.290549e+07,48177
CO,201191560,627552,1592486,391816,19683778.0,16506626.0,4045932.0,4322280.0,124241354,38,426,4.315879e+07,83646
DL,229389904,752229,1802098,461910,18639807.0,15021080.0,4535644.0,4462057.0,110643100,21,489,4.747907e+07,100923
EV,164409016,511686,1285873,327395,7990057.0,5910718.0,3888131.0,3955352.0,37785755,29,86,3.032402e+07,75170
F9,56764152,175339,433999,115375,4090158.0,3449816.0,788549.0,783086.0,25358373,2,43,1.235102e+07,25708
FL,143138272,449552,1138477,291925,9194730.0,7420705.0,3100150.0,3032082.0,52186426,7,308,2.909719e+07,65008
HA,15039920,58146,124897,32190,973167.0,846283.0,255613.0,248102.0,6744672,3,15,2.787447e+06,7199
MQ,284975360,846195,2228599,549894,13469286.0,9858379.0,6396704.0,6205622.0,61520676,104,593,4.997594e+07,130647
NW,158848864,462861,1238320,314501,11459689.0,9134468.0,3462075.0,3267642.0,65200422,16,249,3.175716e+07,72395
OH,105735256,317356,822973,204157,6053272.0,4352670.0,2675993.0,2576892.0,27027803,12,192,1.879696e+07,49104
OO,265925464,810921,2085748,526834,12455246.0,9379688.0,5978936.0,5931799.0,58341105,89,564,NaN,121942
UA,283983408,836108,2197254,566733,23955971.0,20284454.0,6733013.0,7069279.0,152721553,47,475,6.087010e+07,123989
US,197637400,603853,1546359,392108,15575941.0,12951616.0,3571867.0,3819499.0,95246238,26,392,4.016295e+07,83262
WN,758224816,2317794,5979985,1520711,41268127.0,35203340.0,11319092.0,13109808.0,245747679,15,1386,1.491837e+08,324717
XE,208155304,596307,1627533,401693,12254651.0,9375210.0,5176042.0,5193355.0,62097256,46,470,NaN,94313
YV,134662504,425741,1055106,270027,6081915.0,4385528.0,3691461.0,3717346.0,27318580,53,241,2.323433e+07,63289

### Level 1 - Exercise 3
* Export the clean data set clean  the new columns to Excel

In [17]:
flights.to_excel("flights_v2.xlsx")

ValueError: This sheet is too large! Your sheet size is: 1936758, 17 Max sheet size is: 1048576, 16384